<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <div style="background-color: #AAAAAA">
        <input style="margin:1%" type="button" class="btn btn-primary" value = "Strona główna" id="matchTrigger" wicket:id="mainPage">
        <input style="margin:1%" type="button" class="btn btn-success pull-right" value = "Zaloguj sie" id="login" wicket:id="login">
        <input style="margin:1%" type="button" class="btn btn-success pull-right" value = "Zarejestruj się" wicket:id="register">
        <input style="margin:1%" type="button" class="btn btn-success pull-right" value = "Wyloguj" wicket:id="logout">
    </div>
</wicket:panel>
</body>
</html>